<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>

    <link rel="stylesheet" href="stylesheets/pure-min.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/book_viewer.css">
</head>

<body>

  <div id="layout">

      <div id="main">
        <div class="header">
          <h1><%= @title %></h1>
        </div>

        <div class="content">
          <h2 class="content-subhead">Table of Contents</h2>

          <div class="pure-menu">
            <ul class="pure-menu-list">
              <% @files.each do |filename| %>
              <li class="pure-menu-item">
                <a href=<%= filename %> class="pure-menu-link"><%= filename %></a>
              </li>
              <% end %>
            </ul>
          </div>
          <% if params['order'] == 'desc' %>
            <a href='/?order=asc'>Sort Ascending</a>
          <% else %>
            <a href='/?order=desc'>Sort Descending</a>
          <% end %>
          <p>Accessed: <%= @current_time %></p>
        </div>
      </div>
  </div>

  <script type="text/javascript" src="/javascripts/ui.js"></script>
</body>
</html>